<div fxLayoutAlign="center">
	<md-card class="pword-reset-container" *ngIf="!didUpdate">
		<h4 class="md-headline text-center">Password Reset</h4>
		<p class="text-center">Enter your new password</p>
    <p class="flow-text" *ngIf="didUpdate">Password Reset Successfull</p>
    <p class="mat-warn-text">{{ updateErrMsg }}</p>
		<form fxLayout="column">
      
      <div class="validator-container">
        <p>Contains between 8-32 characters:</p>
        <md-icon svgIcon="done" id="done" *ngIf="isMeetLength"></md-icon>
        <md-icon svgIcon="clear" id="clear" *ngIf="!isMeetLength"></md-icon>
      </div>

      <div class="validator-container">
        <p>Contains at least one number:</p>
        <md-icon svgIcon="done" id="done" *ngIf="hasNumber"></md-icon>
        <md-icon svgIcon="clear" id="clear" *ngIf="!hasNumber"></md-icon>
      </div>

      <div class="validator-container">
        <p>Contains a special character (&#33;&#64;&#35;&#36;&#37;&#94;&amp;&#42;):</p>
        <md-icon svgIcon="done" id="done" *ngIf="hasSpecial"></md-icon>
        <md-icon svgIcon="clear" id="clear" *ngIf="!hasSpecial"></md-icon>
      </div>

      <div fxLayoutAlign="start center">
        <md-input-container fxFlex>
          <input mdInput 
                 id="password-input"
                 type="password" 
                 [(ngModel)]="password" 
                 name="password"
                 required 
                 label="New Password"
                 #pwordInput>
        </md-input-container>

        <div>
          <button class="btn-show-hide" type="button" (click)="onclickShow()">
            <span>SHOW</span>
            <i class="material-icons">visibility</i>
          </button>
        </div>

      </div>

      <div fxLayout>
			  <button md-raised-button class="mat-primary" [disabled]="!canSubmit && !didUpdate" (click)="onSubmit()">Update Password</button>
        <md-spinner [style.height]="'36px'" *ngIf="isChecking"></md-spinner>
      </div>
		</form>
	</md-card>

  <div *ngIf="didUpdate" [style.margin-top]="'12px'">
    <p class="text-center flow-text">Password update successful. Please login.</p>
    <app-login [style.margin-top]="'12px'"></app-login>
  </div>

</div>