.pword-reset-container {
   margin: 50px 8px;
   padding: 24px;
   width: 400px;
}

@media only screen and (max-width: 480px) {
   .pword-reset-container {
      margin: 0;
      margin-bottom: -4px; /* -4px to hide border on md-card */
      background: transparent;
   }
}

.validator-container {
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   flex-direction: row;
}

.validator-container p {
   margin: 0 8px 0 0;
   font-weight: 300;
}

.validator-container md-icon {
   height: 22px;
   width:22px;
}