<md-content flex layout-padding layout>
	<div flex flex-offset="10">
		<h2 class="md-display-1">Teaching And Curriculum</h2>
		<md-divider></md-divider>
		<table class="file-table">
			<tr>
				<th><p class="md-body-2 table-file">Example Syllabi</p></th>
				<th><p class="md-body-2 table-file">Download PDF</p></th>
				<th><p class="md-body-2 table-file">Download Word</p></th>
			</tr>
			<tr>
				<td><p class="md-body-1 table-file">Lean Sigma Green Belt Certification</p></td>
				<td><a class="download" target="_self" href="/resources/syllabi/LeanSigmaGreenBeltCert.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon></a></td>
				<td><a class="download" target="_self" href="/resources/syllabi/LeanSigmaGreenBeltCert.docx" download><md-icon md-svg-icon="/images/icons/file-word.svg"></md-icon></a></td>
			</tr>
			<tr>
				<td><p class="md-body-1 table-file">GB IT303 TGB Win17h</p></td>
				<td><a class="download" target="_self" href="/resources/syllabi/GB_IT303_TGP_Win17h.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon></a></td>
				<td><a class="download" target="_self" href="/resources/syllabi/GB_IT303_TGP_Win17h.docx" download><md-icon md-svg-icon="/images/icons/file-word.svg"></md-icon></a></td>
			</tr>
			<tr>
				<td><p class="md-body-1 table-file">Managing Global Value Chains</p></td>
				<td><a class="download" target="_self" href="/resources/syllabi/ManagingGlobalValueChains.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon></a></td>
				<td><a class="download" target="_self" href="/resources/syllabi/ManagingGlobalValueChains.docx" download><md-icon md-svg-icon="/images/icons/file-word.svg"></md-icon></a></td>
			</tr>
		</table>
		<md-divider></md-divider>
		<div>
			<h3 class="md-headline">Course - Quality Systems</h3>
			<div layout>
				<p class="md-body-2">Full Download: 49.7MB</p>
				<a target="_self" href="/resources/QSB/Quality-Systems-Booklet.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon></a>
				<p class="md-body-2"> | 39.1MB</p>
				<a target="_self" href="/resources/QSB/Quality-Systems-Booklet.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon></a>
			</div>
			<ul>
				<li>
					<p class="md-body-2">Quality Systems Introduction &amp; Overview:</p>
					<ul>
						<li><a target="_self" href="/resources/QSB/QSB-A.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg" ></md-icon>Section A: QUALITY SYSTEMS &amp; LEAN OVERVIEW</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-B.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section B: DMAIC DEFINE PHASE</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-C.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section C: DMAIC MEASURE PHASE</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-D.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section D: DMAIC ANALYZE PHASE</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-E.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section E: DMAIC IMPROVE PHASE</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-F.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section F: DMAIC CONTROL PHASE</a></li>
					</ul>
				</li>
				<li>
					<p class="md-body-2">Statistical Analysis:</p>
					<ul>
						<li><a target="_self" href="/resources/QSB/QSB-G.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section G: PROBABILITY MODELS &amp; METHODS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-H.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section H: DESCRIPTIVE STATISTICAL ANALYSIS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-I.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section I: CONTROL CHART SUPPLEMENT</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-J.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section J: HYPOTHESIS TESTING &amp; CONFIDENCE INTERVALS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-K.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section K: CHI-SQUARE ANALYSIS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-L.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section L: REGRESSION &amp; CORRELATION ANALYSIS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-M.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section M: EXPERIMENTAL DESIGN &amp; 2<sup>k</sup> DESIGNS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-N.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section N: CENTRAL COMPOSITE &amp; SECOND ORDER DESIGNS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-O.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section O: SCREENING DESIGNS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-P.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section P: RELIABILITY &amp; SAFETY ANALYSIS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-Q.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section Q: SELECTED MANAGEMENT &amp; PLANNING TOOLS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-R.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section R: THEORY OF INVENTIVE PROBLEM SOLVING (TRIZ)</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-S.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section S: CONCEPT GENERATION &amp; SELECTION</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-T.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section T: QUALITY FUNCTION DEPLOYMENT</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-U.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section U: BENCHMARKING</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-V.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section V: CHANGE MANAGEMENT</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-W.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section W: LEAN ENTERPRISES &amp; THE TOYOTA PRODUCTION SYSTEMS</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-X.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section X: VALUE STREAM MAPPING (VSM)</a></li>
						<li><a target="_self" href="/resources/QSB/QSB-Y.pdf" download><md-icon md-svg-icon="/images/icons/file-pdf.svg"></md-icon>Section Y: SIX SIGMA &amp; LEAN VIDEOS</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<md-divider></md-divider>
		<div>
			<h3 class="md-headline">Course - Managing Global Value Chains</h3>
			<ul>
				<li>
					<p class="md-body-2">Lectures (available as power point presentations):</p>
					<ul>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L1-Intro.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Introduction</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L2-Governance-Upgrading.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Governance Upgrading</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L3-Risk-Mgt.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Risk Management</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L4-Base-of-Pyramid.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Base of Pyramid</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L5-Sustainability.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Sustainability</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L6-Social-Ecol-Innovate.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Social Ecol Innovate</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L7-GreenSCM.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Green SCM</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L7-More-GreenSCM.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>More Green SCM</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L8-Global-Leadership.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Global Leadership</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L9-Lean-and-Leaders.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>LEAN and Leaders</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L10-Lean-and-Green.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>LEAN and Green</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L11-SCM-Analytics.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>SCM Analytics</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L12-Lean-Methods-Videos.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>LEAN Methods Videos</a></li>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-L13-Lean-Cust-Focus.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>LEAN Customer Focus</a></li>
					</ul>
				</li>
				<li>
					<p class="md-body-2">Videos:</p>
					<ul>
						<li><a target="_self" href="/resources/GVCL/Global-Value-Chains-ModernSlaveryVideos.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>GVC Modern Slavery Videos</a></li>
						<li><a target="_self" href="/resources/GVCL/Large-Collection-SupplyChainVideos.pptx" download><md-icon md-svg-icon="/images/icons/file-powerpoint.svg"></md-icon>Large Collection Supply Chain Videos</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</md-content>