<div layout>
	<md-tabs md-dynamic-height md-stretch-tabs layout-fill class="content top-level-tabs">
		<md-tab label="Users">
			<div layout>
				<md-list flex>
					<md-list-item ng-repeat="user in users | orderBy:'lastname'">
						<moderator-user user="user"></moderator-user>
					</md-list-item>
				</md-list>
			</div>
		</md-tab>
		<md-tab label="Questions" >
			<moderator-questions></moderator-questions>
		</md-tab>
		<md-tab label="Answers">
			<moderator-answers></moderator-answers>
		</md-tab>
		<md-tab label="Comments" layout>
			<moderator-comments></moderator-comments>
		</md-tab>
	</md-tabs>
</div>