<div layout="column">
	<div layout>
		<span flex></span>
		<md-button class="md-warn md-raised" ng-click="deleteActiveEntries(answers)">delete</md-button>
	</div>
	<div layout>
		<table layout-fill>
			<tr class="row-header">
				<th>ID</th>
				<th>Owner Name</th>
				<th>Content</th>
				<th></th>
				<th><md-checkbox class="centered checkbox" aria-label="check all" ng-click="selectAll=!selectAll"></md-checkbox></th>
			</tr>
			<tr ng-repeat="answer in answers track by $index">
				<td class="id-row">
					{{answer.id}}
				</td>
				<td>
					<strong>{{formatName(answer)}}</strong>
				</td>
				<td class="table-row" ng-hide="isEditing">
					<md-content ng-bind-html="answer.content"></md-content>
				</td>
				<td ng-show="isEditing">
					<div layout>
						<md-button class="md-primary" ng-click="saveActiveEntries(answer);isEditing=false">save</md-button>
						<md-button ng-click="isEditing=false">cancel</md-button>
						<span flex></span>
						<md-button class="md-warn" ng-click="deleteActiveEntries(answer);isEditing=false">delete</md-button>
					</div>
					<summernote ng-model="answer.content" height="300"></summernote>
				</td>
				<td>
					<md-button class="md-success" ng-click="isEditing=!isEditing" ng-disabled="!answer.id">edit</md-button>
					<md-button class="md-primary" ng-href="/entries/{{answer.parent.id}}">Go to Question</md-button>
				</td>
				<td>
					<md-checkbox class="centered checkbox" aria-label="Checkbox" ng-disabled="!answer.id" ng-click="answers[$index].$isActive=!answers[$index].$isActive" ng-checked="answers[$index].$isActive"></md-checkbox>
				</td>
			</tr>
		</table>
	</div>
</div>