#submit-answer-button {
	z-index: 999;
}

#qa-answer-wrapper {
	max-width: 550px;
}

#checkmark-img {
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

.entry-by {
	margin: 4px;
	padding: 4px;
	background-color: #F4F7F8;
}

.entry-by img {
	margin-top: 4px;
	height: 40px;
	width: 40px;
}

.entry-by p {
	margin-top: 4px;
	margin-bottom: 0;
}