@media screen and (min-width: 960px) {
	.entry-content {
		margin-top: 24px;
		margin-right: 10%;
		margin-left: 10%;
	}

	#submit-answer-button {
		margin-top: 0;
		margin-left: 8px;
	}
}

@media screen and (max-width: 960px) {
	.entry-content {
		margin-top: 12px;
		margin-right: 8px;
		margin-left: 8px;
	}

	#submit-answer-button {
		margin-top: 12px;
		margin-left: 0;
	}
}

#submit-answer-button {
	z-index: 999;
}

#qa-answer-wrapper {
	max-width: 550px;
}

#checkmark-img {
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

.entry-by {
	margin: 4px;
	padding: 4px;
	background-color: #F4F7F8;
}

.entry-by img {
	margin-top: 4px;
	height: 40px;
	width: 40px;
}

.entry-by p {
	margin-top: 4px;
	margin-bottom: 0;
}
