<div ng-controller="AuthController as vm">
  <div layout layout-margin layout-align="center center">
    <md-content class="signup-form md-whiteframe-2dp md-padding" md-theme="default">
      <p class="flow-text text-center"><b>Sign Up</b></h5>
      <md-divider style="height:16px;"></md-divider>
      <a href="https://teachinglean.org/auth/linkedin">
				<img class="linkedin-button" ng-src="assets/images/logos/lkin-login-form-btn.png">
			</a>
      <p class="flow-text text-center"></p>
      <md-divider style="height:16px;"></md-divider>
      <form name="newUserForm" ng-cloak>
        <p class="text-warn" ng-if="vm.error" ng-model="vm.error"></p>
        <div layout>
          <md-input-container flex class="md-block">
            <label>First name</label>
            <input name="first" type="name" ng-model="vm.user.firstname" required>
            <div ng-messages="newUserForm.first.$error">
              <div ng-message="required">
                Please enter your first name
              </div>
            </div>
          </md-input-container>
          <md-input-container flex class="md-block">
            <label>Last name</label>
            <input name="last" type="name" ng-model="vm.user.lastname" required>
            <div ng-messages="newUserForm.last.$error">
              <div ng-message="required">
                Please enter your last name
              </div>
            </div>
          </md-input-container>
        </div>
        
        <md-input-container class="md-block">
          <label>Email address</label>
          <input name="email" type="email" ng-model="vm.user.email" required>
          <div ng-messages="newUserForm.email.$error">
            <div ng-message="required">
              Please enter an email
            </div>
        <div ng-message="email">
        Please enter a valid email
        </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input name="pword" type="password" ng-model="vm.user.password" minlength="8" required>
          <div ng-messages="newUserForm.pword.$error" ng-show="newUserForm.pword.$dirty">
            <div ng-message="required">
              Please enter a password
            </div>
        <div ng-message="minlength">
        Your password must be at least 8 characters long
        </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirm password</label>
          <input name="confirmPword" type="password" ng-model="vm.user.confirmPassword" is-same="vm.user.password" required>
          <div ng-messages="newUserForm.confirmPword.$error" ng-show="newUserForm.confirmPword.$dirty">
            <div ng-message="same">
              Passwords don't match
            </div>
            <div ng-message="required">
              Please confirm your password
            </div>
          </div>
        </md-input-container>
        <md-button class="md-button md-raised md-primary" ng-disabled="!vm.createButonEnabled || newUserForm.$invalid" ng-click="vm.createAccount(vm.user)">Sign Up</md-button>
        <md-divider style="height:16px;"></md-divider>
        <p>Have an account? <a ng-href="/login"><b>Log In</b></a></p>
      </form>
    </md-content>
  </div>
  
</div>
