<md-content>
  <div ng-hide="mc.user" layout layout-align="center center">
    <md-whiteframe class="md-whiteframe-2dp md-padding" layout="column" layout-align="center center" style="width: 500px;">
      <h3 flex>You are not logged in.</h3>
      <div flex>
        <md-button class="md-primary" ng-href="/login">Login here</md-button>
      </div>
    </md-whiteframe>
  </div>
  <md-tabs md-dynamic-height md-stretch-tabs ng-show="mc.user" class="content top-level-tabs" md-selected="0">
    <md-tab label="Dashboard">
      <div layout-gt-sm="row" layout="column" ng-controller="DashboardController as vm" class="content">
        <md-tabs md-dynamic-height md-stretch-tabs md-border-bottom md-autoselect flex="70">
          <md-tab label="My Recent Activity" ng-init="vm.getRecent()">
            <div layout-padding>
              <md-list>
                <md-list-item ng-repeat="entry in vm.recent">
                  <entry-summary entry="entry" flex></entry-summary>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Questions">
            <div layout-padding>
              <md-list>
                <md-list-item ng-repeat="entry in vm.questions">
                  <entry-summary entry="entry" flex></entry-summary>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Answers">
            <div layout-padding>
              <md-list>
                <md-list-item ng-repeat="entry in vm.answers">
                  <entry-summary entry="entry" flex></entry-summary>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Comments">
            <div layout-padding>
              <md-list>
                <md-list-item ng-repeat="comment in vm.comments" class="md-3-line">
                  <comment comm="comment" flex class="single-comment"></comment>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
        </md-tabs>
        <profile user="mc.user"></profile>
      </div>
    </md-tab>
    <md-tab ng-if="mc.user.isAdmin === true" label="Admin">
      <admin ctrl="vm"></admin>
    </md-tab>
    <md-tab ng-if="mc.user.isAdmin == true || mc.user.isModerator == true" label="Moderator">
      <moderator users="vm.users"></moderator>
    </md-tab>
  </md-tabs>
</md-content>