<md-content ng-controller="ResetController as vm" layout="column">
	<h3>Password Reset</h3>
	<!--<div ng-if="vm.resetPasswordButtonEnabled">-->
	<div>
		<p class="md-body-1">Enter your email address and click submit to send an email with a password reset link.</p>
		<h4 class="text-warn" ng-show="vm.userNotFoundError">{{vm.userNotFoundError}}</h4>
		<form ng-submit="vm.reset()">
			<md-input-container>
				Email address
				<input type="email" required ng-model="vm.email" aria-label="Email Input">
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary" ng-disabled="vm.didClickRequestButton">submit</md-button>
		</form>
	</div>
</md-content>
