<!--View Button-->
<button md-button class="mat-primary" (click)="selectUserEventEmitter.emit(user)">
      <md-icon  [style.width]="'20px'" svgIcon="eye_black"></md-icon><span [style.margin-left]="'4px'" [style.font-weight]="'300'">View</span>
</button>

<!--Block button-->
<button md-button class="mat-warn" (click)="onSelectBlock()" *ngIf="user.accountIsActive && !user.isAdmin">
      <md-icon [style.width]="'20px'" svgIcon="lock_black"></md-icon><span [style.margin-left]="'4px'" [style.font-weight]="'300'">Block</span>
</button>

<!--Unblock button-->
<button md-button class="mat-warn" (click)="onSelectUnblock()" *ngIf="!user.accountIsActive && !user.isAdmin">
      <md-icon [style.width]="'20px'" svgIcon="unlock_black"></md-icon><span [style.margin-left]="'4px'" [style.font-weight]="'300'">Unblock</span>
</button>