
<div layout layout-xs="column" layout-align="center start">
	<md-button class="md-raised" ng-click="isEditing=!isEditing;isEditingQuestions=isEditingAnswers=isEditingComments=false" style="min-width:300px;">
		<a>{{user.lastname}}, {{user.firstname}}</a>
	</md-button>
	<md-card flex ng-show="isEditing">
		<md-card-title-text layout>
			<md-subheader><b>Role</b>? {{user.role}}</md-subheader>
			<md-subheader><b>Account Status</b>? {{user.accountIsActive ? 'Active' : 'Disabled'}}</md-subheader>
			<md-subheader ng-hide="true">Has Flagged Content? <i>implement here...</i></md-subheader>
		</md-card-title-text>
		<md-card-content>
			<md-button class="md-raised" ng-click="isEditingQuestions=!isEditingQuestions;getUserQuestions(user);">Questions</md-button>
			<md-button class="md-raised" ng-click="isEditingAnswers=!isEditingAnswers;getUserAnswers(user);">Answers</md-button>
			<md-button class="md-raised" ng-click="isEditingComments=!isEditingComments;getUserComments(user);">Comments</md-button>
		</md-card-content>
		<md-card-actions layout>
			<md-button ng-show="isEditing" class="md-primary" ng-click="saveUser(user)">Save</md-button>
			<md-button class="md-accent" ng-click="isEditing=false">Cancel</md-button>
			<md-button ng-show="user.accountIsActive" class="md-warn" ng-click="user.accountIsActive=false">Disabled Account</md-button>
			<md-button ng-hide="user.accountIsActive" class="md-raised md-warn" ng-click="user.accountIsActive=true">Activate Account</md-button>
		</md-card-actions>
	</md-card>
	<md-card ng-show="isEditingQuestions">
		<md-card-title-text layout>
			<md-subheader>Questions...</md-subheader>
		</md-card-title-text>
		<md-card-content>
			<ul>
				<li ng-repeat="question in user.questions">
					<p>Question ID: {{question.id}}</p>
				</li>
			</ul>
		</md-card-content>
		<md-card-actions>
			<md-button ng-click="isEditingQuestions=false;">Close</md-button>
		</md-card-actions>
	</md-card>
	<md-card ng-show="isEditingAnswers">
		<md-card-title-text layout>
			<md-subheader>Answers...</md-subheader>
		</md-card-title-text>
		<md-card-content>
			<ul>
				<li ng-repeat="answer in user.answers">
					<p>answer ID: {{answer.id}}</p>
				</li>
			</ul>
		</md-card-content>
		<md-card-actions>
			<md-button ng-click="isEditingAnswers=false;">Close</md-button>
		</md-card-actions>
	</md-card>
	<md-card ng-show="isEditingComments">
		<md-card-title-text layout>
			<md-subheader>Comments...</md-subheader>
		</md-card-title-text>
		<md-card-content>
			<ul>
				<li ng-repeat="comm in user.comments">
					<p>comment ID: {{comm.id}}</p>
				</li>
			</ul>
		</md-card-content>
		<md-card-actions>
			<md-button ng-click="isEditingComments=false;">Close</md-button>
		</md-card-actions>
	</md-card>
</div>