<div layout id="user-table">
	<div layout="column" id="{{userContainerId}}">
		<div>
			<h3 class="md-header">Users</h3>
			<p class="md-body-1">Use this interface to manage users.</p>
		</div>
		<table class="md-whiteframe-2dp">
			<tr>
				<th class="table-actions">
					<div flex class="flex-align-center">
						<md-button aria-label="email icon" class="md-primary" ng-disabled="!hasSelection"><md-icon md-menu-align-target md-svg-icon="/images/icons/email-outline.svg"></md-icon></md-button>
					</div>
				</th>
				<th colspan="5">
					<input flex class="md-input" ng-model="userQuery" type="text" placeholder="Search...">
					<md-button aria-label="search button" class="md-fab md-fab-flat"><md-icon md-svg-src="images/icons/ic_search_black_24px.svg"></md-icon></md-button>
				</th>
			</tr>
			<tr>
				<th class="md-cell-padding">
					<div class="flex-align-center md-cell-padding">
						<md-checkbox aria-label="checkbox" class="md-cell-checkbox" ng-checked="isSelected" ng-click="onMasterCBClick()"></md-checkbox>
					</div>
				</th>
				<th class="md-body-1">Name</th>
				<th class="md-body-1">Email Address</th>
				<th class="md-body-1">Last Login</th>
				<th class="md-body-1">Role</th>
				<th class="md-body-1">Account Status</th>
			</tr>
			<tr ng-model="vm.users" ng-repeat="user in vm.users | orderBy: 'lastname' track by $index">
				<td class="md-cell-padding">
					<div class="flex-align-center md-cell-padding">
						<md-checkbox aria-label="checkbox" class="md-cell-checkbox" ng-checked="selectedUsers[user.uuid]" ng-click="onCBClick(user)"></md-checkbox>
					</div>
				</td>
				<td class="md-body-1" ng-show="!user.isEditing">{{user.lastname}}, {{user.firstname}}</td>
				<td class="md-body-1" ng-show="!user.isEditing">{{user.email}}</td>
				<td class="md-body-1" ng-show="!user.isEditing">{{user.lastLogin | date:'MMM dd, yyyy h:mm a'}}</td>
				<td class="md-body-1">
					<md-menu>
						<md-button class="transform-none margin-none" ng-click="$mdMenu.open()">{{parseRole(user.role)}}
							<md-icon md-menu-align-target md-svg-icon="/images/icons/menu-down.svg"></md-icon>
						</md-button>
						<md-menu-content>
							<md-menu-item ng-if="user.role != 'System Admin'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'systemAdmin')">System Admin</md-button>
							</md-menu-item>
							<md-menu-item ng-if="user.role != 'Admin'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'admin')">Admin</md-button>
							</md-menu-item>
							<md-menu-item ng-if="user.role != 'Editor'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'editor')">Editor</md-button>
							</md-menu-item>
							<md-menu-item ng-if="user.role != 'Author'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'author')">Author</md-button>
							</md-menu-item>
							<md-menu-item ng-if="user.role != 'Moderator'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'moderator')">Moderator</md-button>
							</md-menu-item>
							<md-menu-item ng-if="user.role != 'Member'">
								<md-button class="transform-none" ng-click="vm.updateRole(user, 'user')">Member</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</td>
				<td>
					<div>
						<md-button class="transform-none md-warn" ng-click="vm.showDisableWarningDialog(user, this, $event)" ng-show="!updateInProgress && user.accountIsActive">Active</md-button>
					</div>
					<div>
						<md-button class="transform-none md-warn" ng-click="vm.enableAccount(user, this)" ng-show="!updateInProgress && !user.accountIsActive">Disabled</md-button>
					</div>
					<div>
						<md-progress-circular class="centered" md-mode="indeterminate" ng-hide="!updateInProgress"></md-progress-circular>
					</div>
				</td>
			</tr>
			<tr ng-show="vm.users.length == 0">
				<td colspan="6">
					<div flex class="md-margin md-padding">
						<p flex class="md-body-1 text-align-center">Your search returned no results.</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<span flex></span>
</div>