<md-dialog flex>
  <md-toolbar class="md-primary">
    <span class="md-toolbar-tools">
      <h2>Update User</h2>
    </span>
  </md-toolbar>
  <form name="updateUserForm" ng-model="updatedUser" ng-cloak>
    <md-input-container>
      <label>First name</label>
      <input ng-model="updateUser.firstname">
    </md-input-container>
    <md-input-container>
      <label>Last name</label>
      <input ng-model="updateUser.lastname">
    </md-input-container>
    <md-input-container>
      <label>Email name</label>
      <input ng-model="updateUser.email" type="email">
    </md-input-container>
    User Role
    <select name="role" ng-model="updateUser.role">
      <option selected>{{updateUser.role}}</option>
      <option>Admin</option>
      <option>System Admin</option>
      <option>Author</option>
      <option>Editor</option>
      <option>Moderator</option>
      <option>Member</option>
    </select>
    <md-button class="md-raised md-primary" ng-click="answer(updateUser)">Update User</md-button>
  </form>
</md-dialog>