
<div fxLayout fxLayoutAlign="center center" class="md-margin">

  <md-card class="md-padding">
    <p class="flow-text text-center"><b>Sign Up</b></p>
      <md-divider style="height:16px;"></md-divider>
      <a href="https://teachinglean.org/auth/linkedin">
        <img src="/assets/images/logos/lkin-login-form-btn.png">
      </a>
    <p class="flow-text text-center"></p>

    <md-divider style="height:16px;"></md-divider>


    <form name="newUserForm" fxLayout="column">

      <div fxLayout>

        <md-input-container>
          <input mdInput name="first" type="name" [(ngModel)]="user.firstname" required placeholder="First name">
        </md-input-container>

        <md-input-container>
          <input mdInput name="last" type="name" [(ngModel)]="user.lastname" required placeholder="Last name">
        </md-input-container>


      </div>

      <md-input-container>
        <input mdInput name="email" type="email" [(ngModel)]="user.email" required placeholder="Email address">
      </md-input-container>

      <md-input-container>
        <input mdInput name="pword" type="password" [(ngModel)]="password" minlength="8" required placeholder="Password">
      </md-input-container>

      <md-input-container>
        <input mdInput name="confirmPword" type="password" [(ngModel)]="confirmPassword" required placeholder="Confirm password">
      </md-input-container>

      <button md-raised-button class="mat-primary white-text" [disabled]="!createButonEnabled" (click)="onClickSignup()">Sign Up</button>

      <md-divider style="height:16px;"></md-divider>

      <p>Have an account? <a (click)="onClickLogin()"><b>Log In</b></a></p>
    </form>
  </md-card>
</div>

