<md-toolbar class="mat-primary darken-3">
  <span fxFlex></span>

  <a md-button color="accent" aria-label="Sign Up" routerLink="/createAccount" *ngIf="!userDoesExist">Sign Up</a>
  <a md-raised-button aria-label="Login" routerLink="/login" *ngIf="!userDoesExist">Login</a>

  <span fxFlex.lt-md *ngIf="windowWidth < 960"></span>

  <div *ngIf="userDoesExist">
    <button md-button aria-label="Account" [mdMenuTriggerFor]="menu">
      <md-icon svgIcon="accountCircle"></md-icon>
    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item class="md-primary" routerLink="/dashboard">
        <md-icon svgIcon="dashboard"></md-icon>
        Dashboard
      </button>
      <button md-menu-item (click)="onClickLogout()">
        <md-icon svgIcon="logout"></md-icon>
        Logout
      </button>
    </md-menu>
  </div>


  <button md-button class="md-icon-button" aria-label="Menu" (click)="toggleSidenav()" *ngIf="windowWidth < 960">
    <md-icon svgIcon="menu"></md-icon>
  </button>

</md-toolbar>
