<md-toolbar class="mat-primary darken-3">
    <span fxFlex></span>

    <a md-button color="accent" aria-label="Sign Up" routerLink="/createAccount" *ngIf="!userDoesExist">Sign Up</a>
    <a md-raised-button aria-label="Login" routerLink="/login" *ngIf="!userDoesExist">Login</a>

    <span flex-xs flex-sm></span>

    <div md-offset="50" *ngIf="userDoesExist">
      <button md-button class="md-icon-button" aria-label="Profile" ng-click="$mdMenu.open($event)">
        <md-icon md-menu-align-target md-svg-icon="assets/images/icons/ic_account_circle_white_36px.svg"></md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item class="md-primary" routerLink="/dashboard">
          <md-icon svgIcon="dashboard"></md-icon>
          Dashboard
        </button>
        <button md-menu-item>
          <md-icon md-menu-align-target md-svg-icon="assets/images/icons/logout.svg"></md-icon>
          Logout
        </button>
      </md-menu>
    </div>


    <button md-button class="md-icon-button" aria-label="Menu" (click)="toggleSidenav()" hide-gt-sm>
      <md-icon md-menu-align-target md-svg-icon="assets/images/icons/menu.svg"></md-icon>
    </button>

</md-toolbar>
