<md-dialog flex>
  <md-toolbar class="md-primary">
    <span class="md-toolbar-tools">
      <h2>Post {{parent ? 'Answer' : 'Question'}}</h2>
    </span>
  </md-toolbar>
  <form name="addEntryForm" ng-cloak>
    <md-input-container md-no-float class="md-title">
      <input name="title" type="text" placeholder="Title" required ng-model="entry.title" />
      <div ng-messages="addEntryForm.title">
        <div ng-message="required">
          Your Question needs a title!
        </div>
      </div>
    </md-input-container>
    <summernote   ng-model="entry.content" height="300"></summernote>
    <md-button class="md-raised md-primary" ng-click="post()" ng-disabled="addEntryForm.$invalid">Post</md-button>
  </form>
</md-dialog>
