

<div fxLayout="column" fxLayout.gt-sm class="container" >

  <div fxFlexOrder.lt-md="2" fxLayout="column" class="search-wrapper">

    <i class="material-icons">search</i>
    <md-input-container>
      <input mdInput placeholder="Search...">
    </md-input-container>

    <md-tab-group [dynamicHeight]="true" [selectedIndex]="0">
      <md-tab label="Top Questions">
        <ul class="entry-list-wrapper">
          <li *ngFor="let question of topResults">
            <p><a class="text-md" routerLink="/forum/{{ question.id }}">{{ question.title }}</a></p>
            <p class="text-xs grey-text">Asked on {{ question.createdAtToString() }}</p>
          </li>
        </ul>
      </md-tab>
      <md-tab label="Recent Questions">
        <ul class="entry-list-wrapper">
          <li *ngFor="let question of recentQuestions">
            <p><a class="text-md" routerLink="/forum/{{ question.id }}">{{ question.title }}</a></p>
            <p class="text-xs grey-text">Asked on {{ question.createdAtToString() }}</p>
          </li>
        </ul>
      </md-tab>
    </md-tab-group>

    

  </div>

  <div fxFlexOrder.lt-md="1" fxLayout="column" class="md-margin" *ngIf="questionFormEnabled">
    <ask-question></ask-question>
  </div>



</div>
