<div fxLayout>

	<md-card>

		<div fxFlex fxLayout="column">

			<button md-button class="md-icon" aria-label="linkedin signup" ng-click="vm.authenticateLinkedIn()">
				<img src="assets/images/logos/lkin-login-form-btn.png" class="md-card-image">
			</button>

			<h5 class="text-center">Sign Into Your Account</h5>


			<div fxLayout="row" fxLayoutAlign="space-around">
				<md-spinner *ngIf="spinnerEnabled"></md-spinner>
			</div>


      <div fxLayout="column">

        <md-input-container>
          <input mdInput required ng-model="username" type="email" placeholder="Email">
        </md-input-container>

        <span fxFlex style="margin-top: 16px;"></span>

        <md-input-container>
          <input mdInput required ng-model="password" type="password" placeholder="Password">
        </md-input-container>

        <span fxFlex style="margin-top: 24px;"></span>

      </div>


			<!--<div><button md-raised-button class="md-primary" ng-click="vm.authenticateLocal(username, password)">Login</button></div>-->
      <div>
        <button md-raised-button class="mat-primary">LOGIN</button>
      </div>

			<p><a href="/reset">forgot password?</a></p>

			<md-divider style="margin-top: 16px;"></md-divider>

			<p class="flow-text">Don't have an account? <a routerLink="/createAccount">Sign Up</a></p>
		</div>
	</md-card>
</div>
