<div flex layout>
	<md-card class="login-form-container">
		<div layout="column">

			<button md-button class="md-icon" aria-label="linkedin signup" ng-click="vm.authenticateLinkedIn()">
				<img ng-src="assets/images/logos/lkin-login-form-btn.png" class="md-card-image">
			</button>

			<h5 class="text-center">Sign Into Your Account</h5>

			<!--<span class="md-subhead text-warn">{{vm.loginError}}</span>-->

			<div layout="row" layout-align="space-around" *ngIf="spinnerEnabled">
				<md-spinner></md-spinner>
			</div>


      <form>
			<!--<md-input-container>
				<input mdInput required ng-model="username" type="email" placeholder="Email">
        <input mdInput required type="email" placeholder="Email">
			</md-input-container>

			<md-input-container>
				<input mdInput required ng-model="password" type="password" placeholder="Password">
        <input mdInput required type="password" placeholder="Password">
			</md-input-container>-->
      
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="State">
          </md-input-container>
        </td>
        <td><md-input-container class="example-full-width">
          <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
          <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
        </md-input-container></td>
        </tr>
      </table>
      </form>


			<!--<div><button md-raised-button class="md-primary" ng-click="vm.authenticateLocal(username, password)">Login</button></div>-->
      <button md-raised-button>Login</button>

			<p><a href="/reset" style="text-align: center;">forgot password?</a></p>

			<md-divider style="height:16px;"></md-divider>

			<p class="flow-text">Don't have an account? <a ng-href="/createAccount"><b>Sign Up</b></a></p>
			<!--<p>Contact us at <a href="mailto:shingo.it@usu.edu?Subject=Login%20Issues%20teachinglean.org" target="_top">shingo.it@usu.edu</a> for technical support.</p>-->
		</div>
	</md-card>
</div>