<div layout="column" id="row-{{index}}" ng-class="animate-vertical">
	<div layout>
		<md-input-container flex-gt-sm>
			<span class="md-body-2">Role</span>
			<select name="role" ng-model="user.role">
				<option selected>{{user.role}}</option>
				<option ng-if="user.role != 'System Admin'">System Admin</option>
				<option ng-if="user.role != 'Admin'">Admin</option>
				<option ng-if="user.role != 'Editor'">Editor</option>
				<option ng-if="user.role != 'Author'">Author</option>
				<option ng-if="user.role != 'Moderator'">Moderator</option>
				<option ng-if="user.role != 'Member'">Member</option>
			</select>
		</md-input-container>
		<div>
			<md-button class="md-warn" ng-click="vm.disableAccount(user, 'row-' + index)" ng-show="user.accountIsActive == true">Disable Account</md-button>
			<md-button class="md-warn" ng-click="vm.enableAccount(user, 'row-' + index)" ng-show="user.accountIsActive == false">Enable Account</md-button>
		</div>
	</div>
	<md-input-container flex-gt-sm>
		<label>First name</label>
		<input ng-model="user.firstname">
	</md-input-container>
	<md-input-container flex-gt-sm>
		<label>Last name</label>
		<input ng-model="user.lastname">
	</md-input-container>
	<md-input-container flex-gt-sm>
		<label>Primary email</label>
		<input ng-model="user.email">
	</md-input-container>
	<div layout>
		<md-button class="md-raised md-primary" ng-click="vm.updateUser(user, 'row-' + index)" ng-disabled="vm.updatedInProgress">Save</md-button>
		<md-button class="md-primary" ng-click="removeUser(index, ctrl)">Cancel</md-button>
		<md-progress-circular md-mode="indeterminate" ng-show="vm.updateInProgress"></md-progress-circular>
	</div>
</div>