

<div fxLayout="column" fxLayout.gt-sm class="container" >

  <div fxFlexOrder.lt-md="2" fxLayout="column" class="search-wrapper">

    <i class="material-icons">search</i>
    <md-input-container>
      <input mdInput placeholder="Search...">
    </md-input-container>

    <md-tab-group [dynamicHeight]="true" [selectedIndex]="1">
      <md-tab label="Top Questions">
        <ul>
          <li [(ngModel)]="recentQuestions" *ngFor="let question of topResults">
            <a class="flow-text" [innerHTML]="question.title" routerLink="/forum/{{ question.id }}"></a>
            <div [innerHTML]="question.content"></div>
            <md-divider></md-divider>
          </li>
        </ul>
      </md-tab>
      <md-tab label="Recent Questions">
        <ul>
          <li *ngFor="let question of recentQuestions">
            <a class="flow-text" [innerHTML]="question.title" routerLink="/forum/{{ question.id }}"></a>
            <div [innerHTML]="question.content"></div>
            <md-divider></md-divider>
          </li>
        </ul>
      </md-tab>
    </md-tab-group>

    

  </div>

  <div fxFlexOrder.lt-md="1" fxLayout="column" class="md-margin" *ngIf="questionFormEnabled">
    <div>
      <button md-raised-button class="mat-accent" (click)="onClickAskQuestion()">Ask Question</button>
    </div>


    <div [@shrinkGrow]="questionDialogState">
      <ask-question (onClickPostQuestion)="onClickPostQuestionHandler($event)"></ask-question>
    </div>


  </div>



</div>
