

<div fxLayout="column" fxLayout.gt-sm class="container" >


  <div fxFlexOrder.lt-md="2" fxLayout="column" class="search-wrapper">

    <i class="material-icons">search</i>
    <md-input-container>
      <input mdInput placeholder="Search...">
    </md-input-container>

    <p>Top Questions</p>
    <md-divider></md-divider>

    <ul>
      <li *ngFor="let result of topResults">
        {{result.question}}
      </li>
    </ul>

  </div>

  <div fxFlexOrder.lt-md="1" fxLayout="column" class="md-margin">
    <div>
      <button md-raised-button class="mat-accent" (click)="onClickAskQuestion()">Ask Question</button>
    </div>


    <div [@shrinkGrow]="questionDialogState" >
      <ask-question (onEditorKeyup)="onEditorKeyupHandler($event)" [content]="questionContent"></ask-question>
    </div>


  </div>



</div>
