

<md-sidenav-container>

    <app-toolbar></app-toolbar>

    <md-sidenav #sidenav mode="side" [opened]="screenWidthGtSm()">
        <md-nav-list>
            <img src="/assets/images/logos/LEAN-logo-sm.png" alt="Teaching LEAN">
            <md-list-item *ngFor="let link of links">
                <a md-line routerLink="{{link.path}}" (click)="toggleSidenav()">{{link.name}}</a>
            </md-list-item>
            <hr>
            <md-list-item *ngIf="user">
                <a md-line routerLink="/dashboard" (click)="toggleSidenav()">Dashboard</a>
                <button md-icon-button>
                    <md-icon svgIcon="dashboard"></md-icon>
                </button>
            </md-list-item>
            <md-list-item *ngIf="!user">
                <a md-line routerLink="/login" (click)="toggleSidenav()">Login</a>
                <button md-icon-button>
                    <md-icon svgIcon="login"></md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <router-outlet class="main-content"></router-outlet>

    

</md-sidenav-container>
