/*$break-large: 1920px;
$break-medium: 1280px;
$break-small: 960px;
$break-xsmall: 600px;*/

@media screen and (max-width: 1280px) {
    .sidenav-container {
        max-width: 250px;
    }
}

@media screen and (min-width: 1280px) {
    .sidenav-container {
        width: 250px;
    }
}

.sidenav-container,
.sidenav-container md-sidenav {
    overflow: visible;
}

.sidenav-container md-sidenav {
    width: 250px;
    display: flex;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

md-nav-list, img {
    width: 100%;
    padding: 4px; 
}
