
.sidenav-container {
    width: 250px;
    overflow: visible;
}

.sidenav-container md-sidenav {
    width: 250px;
    display: flex;
    overflow: visible;
    /*border-right: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

md-nav-list, img {
    width: 100%;
    padding: 4px; 
}
