<div fxLayout="column">


   <md-card md-margin="bottom" *ngIf="user">
      <md-card-title fxLayout="row">
         <!-- Card Title -->
         <p class="flow-text">User Details</p>

         <!-- Horizontal Spacer -->
         <span fxFlex></span>

         <!-- Back Button -->
         <button md-icon-button (click)="backEventEmitter.emit()">
            <md-icon svgIcon="clear"></md-icon>
         </button>
      </md-card-title>

      <md-card-content>
         <div class="detail-block">
            <!--Name-->
            <div class="detail-item">
               <p>Name</p>
               <p>{{ user.name }}</p>
            </div>

            <!--Email-->
            <div class="detail-item">
               <p>Email</p>
               <p>{{ user.email }}</p>
            </div>

            <!--Last Login-->
            <div class="detail-item">
               <p>Last Login</p>
               <p>{{ user.getLastLogin() }}</p>
            </div>
         </div>
         <div class="detail-block">

            <!--Account Role-->
            <div class="detail-item">
               <p>Account Role</p>
               <p></p>
            </div>

            <!--Email Input Field-->
            <div class="detail-item">
               <p>Email</p>
               <form class="form-group">
                  <input type="text" id="user-email" [(ngModel)]="user.email" name="userEmail">
               </form>
            </div>

            <!--Username Input Field-->
            <div class="detail-item">
               <p>Username</p>
               <form class="form-group">
                  <input type="text" id="user-username" [(ngModel)]="user.username" name="userUsername">
               </form>
            </div>

            <!--Email Verified checkbox-->
            <div class="detail-item">
               <p>Email Verified</p>
               <div>
                  <form class="form-group">
                     <input type="checkbox" id="emailverified" [(ngModel)]="user.verifiedEmail" name="userVerifiedEmail">
                  </form>
               </div> 
            </div>
         </div>

      </md-card-content>
      <md-card-actions fxLayoutGap="4px">

         <!--Save Button-->
         <button md-raised-button class="mat-success" (click)="saveChanges()">
            <md-icon [style.width]="'20px'" svgIcon="save_white"></md-icon><span [style.margin-left]="'4px'">Save Changes</span>
         </button>

         <!--TODO: Need to implement action in backend-->
         <!--<button md-button class="mat-primary" (click)="resetPassword()">Reset Password</button>-->

         <!--TODO: Need to implement action in backend-->
         <!--<button md-button class="mat-primary" (click)="emailPassword()">Email Password</button>-->

         <!--Block Account Button-->
         <button md-button class="mat-warn" (click)="blockEventEmitter.emit(user)" *ngIf="user.accountIsActive">
            <md-icon [style.width]="'20px'" svgIcon="lock_black"></md-icon><span [style.margin-left]="'4px'">Block Account</span>
         </button>

         <!--Unblock Account Button-->
         <button md-button class="mat-warn" (click)="onUnblock()" *ngIf="!user.accountIsActive">
            <md-icon [style.width]="'20px'" svgIcon="unlock_black"></md-icon><span [style.margin-left]="'4px'">Unblock Account</span>
         </button>
      </md-card-actions>
   </md-card>

</div>