<div class="comment" layout="column">
  <div layout="row">
    <p ng-show="!isEditing" ng-bind-html="comm.content" class="trix-content"></p>
    <span flex><!-- spacer --></span>
    <flag content="comm" type="'Comment'"></flag>
  </div>
  <div ng-show="isEditing">
    <summernote id="comm.id"   ng-model="comm.content" height="100"></summernote>
  </div>
  <span flex><!-- filler --></span>
  <div layout="row">
    <md-button ng-show="comm.canEdit" ng-hide="isEditing" class="small-button md-primary" ng-click="isEditing=true">Edit</md-button>
    <md-button ng-show="isEditing" class="small-button md-primary" ng-click="save()">Save</md-button>
    <md-button ng-show="isEditing" class="small-button md-accent" ng-click="isEditing=false">Cancel</md-button>
    <span flex><!-- filler --></span>
    <div layout="column">
      <span class="summary-small">Posted by {{comm.owner.name || 'unknown'}} on {{comm.createdAt | amDateFormat: 'MMM Do, YYYY hh:mm a'}}</span>
      <span ng-show="_entry.createdAt != _entry.updatedAt" class="summary-small">Edited on {{comm.updatedAt | amDateFormat: 'MMM Do, YYYY hh:mm a'}}</span>
    </div>
  </div>
</div>
