
<div fxLayout class="container">

  <form fxLayout="column" id="ask-question-form" class="input-container" *ngIf="user">
    <p class="flow-text">Have a question? Ask the community right here.</p>
    <div fxLayout class="input-wrapper">
      <p>Title</p>
      <input fxFlex 
              [(ngModel)]="title"
              name="title"
              class="input-title"
              type="text" 
              placeholder="What is your question?">
    </div>
    <p>Enter a detailed description of your question.</p>
    <textarea class="input-question"
              id="question-textarea-id"
              required
              form="ask-question-form"
              maxlength="500"
              name="Question text">
    </textarea>

    <span style="margin-top: 24px;"></span>

    <div>
      <button md-raised-button class="mat-accent" (click)="onClickSubmitQuestion($event)">Submit Question</button>
    </div>

  </form>

  <div>Have a question? <a routerLink="/login">Sign in</a> to the ask the community.</div>

</div>
