<div fxLayoutAlign="center center">
	<md-spinner *ngIf="!questions"></md-spinner>
	<p class="grey-text text-center md-margin" *ngIf="questions && questions.length === 0">No Activity.</p>
</div>

<ul class="md-margin" *ngIf="questions">
	<li *ngFor="let question of questions">
	<a routerLink="/forum/{{ question.id }}">{{ question && question.title ? question.title : "N/A" }}</a>
	<p class="grey-text text-sm">Asked by {{ question.owner && question.owner.name ? question.owner.name : "loading..." }} | {{ question.createdAtToString() }}</p>
	</li>
</ul>