<div>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="spinnerEnabled">
    <md-spinner></md-spinner>
  </div>

  <md-tab-group [dynamicHeight]="true" [selectedIndex]="1" *ngIf="user">
    <md-tab label="Dashboard">
      <div>
        <md-tab-group [dynamicHeight]="true" [selectedIndex]="0">
          <md-tab label="My Recent Activity">
            <entries [entries]="recent" [type]="recent"></entries>
          </md-tab>
          <md-tab label="My Questions" (click)="loadQuestions()">
            <entries [entries]="questions" type="question"></entries>
          </md-tab>
          <md-tab label="My Answers" (click)="loadAnswers()">
            <entries [entries]="answers" type="answer"></entries>
          </md-tab>
          <md-tab label="My Comments" (click)="loadComments()">
            <entries [entries]="comments"  type="comment"></entries>
          </md-tab>
        </md-tab-group>
        <!--<profile user="mc.user"></profile>-->
      </div>
    </md-tab>


    <md-tab *ngIf="user.isAdmin === true" label="Admin">
      <admin-panel></admin-panel>
    </md-tab>


    <md-tab *ngIf="user.isAdmin === true || user.role === 'moderator'" label="Moderator">
      <app-moderator></app-moderator>
    </md-tab>

  </md-tab-group>


</div>
