<div>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="spinnerEnabled">
    <md-spinner></md-spinner>
  </div>

  <md-tab-group [dynamicHeight]="true" [selectedIndex]="0" *ngIf="user">
    <md-tab label="Dashboard">
      <div>
        <md-tab-group [dynamicHeight]="true" [selectedIndex]="0">
          <md-tab label="My Recent Activity">
            <div style="h>
              <md-list>
                <md-list-item *ngFor="let entry of recent">
                  <entry [entry]="entry"></entry>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Questions" (click)="loadQuestions()">
            <div class="md-padding">
              <md-list>
                <md-list-item *ngFor="let entry of questions">
                  <entry [entry]="entry"></entry>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Answers" (click)="loadAnswers()">
            <div class="md-padding">
              <md-list>
                <md-list-item *ngFor="let entry of answers">
                  <entry [entry]="entry"></entry>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Comments" (click)="loadComments()">
            <div class="md-padding">
              <md-list>
                <md-list-item *ngFor="let entry of comments">
                  <entry [entry]="entry"></entry>
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
        </md-tab-group>
        <!--<profile user="mc.user"></profile>-->
      </div>
    </md-tab>


    <md-tab *ngIf="user.isAdmin === true" label="Admin">
      <!--<admin ctrl="vm"></admin>-->
    </md-tab>


    <md-tab *ngIf="user.isAdmin == true || user.isModerator == true" label="Moderator">
      <!--<moderator users="vm.users"></moderator>-->
    </md-tab>

  </md-tab-group>


</div>
