<div>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="spinnerEnabled">
    <md-spinner></md-spinner>
  </div>

  <md-tab-group [dynamicHeight]="true" [selectedIndex]="0" *ngIf="user">
    <md-tab label="Dashboard">
      <div>
        <md-tab-group [dynamicHeight]="true" [selectedIndex]="0">
          <md-tab label="My Recent Activity" ng-init="vm.getRecent()">
            <div class="md-padding">
              <md-list>
                <md-list-item ng-repeat="entry in vm.recent">
                  <!--<entry-summary entry="entry" flex></entry-summary>-->
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Questions">
            <div class="md-padding">
              <md-list>
                <md-list-item ng-repeat="entry in vm.questions">
                  <!--<entry-summary entry="entry" flex></entry-summary>-->
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Answers">
            <div class="md-padding">
              <md-list>
                <md-list-item ng-repeat="entry in vm.answers">
                  <!--<entry-summary entry="entry" flex></entry-summary>-->
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
          <md-tab label="My Comments">
            <div class="md-padding">
              <md-list>
                <md-list-item ng-repeat="comment in vm.comments" class="md-3-line">
                  <!--<comment comm="comment" flex class="single-comment"></comment>-->
                </md-list-item>
              </md-list>
            </div>
          </md-tab>
        </md-tab-group>
        <!--<profile user="mc.user"></profile>-->
      </div>
    </md-tab>


    <md-tab *ngIf="user.isAdmin === true" label="Admin">
      <!--<admin ctrl="vm"></admin>-->
    </md-tab>


    <md-tab *ngIf="user.isAdmin == true || user.isModerator == true" label="Moderator">
      <!--<moderator users="vm.users"></moderator>-->
    </md-tab>

  </md-tab-group>


</div>
