<div class="container" [@flyInOut]="formState" (@flyInOut.done)="animationDone()" *ngIf="showForm">
	<h4>Password Reset</h4>
	<div>
		<p [style.font-size]="'1.2rem'" [style.font-weight]="'300'">Enter your email address and click submit to send an email with a password reset link.</p>
		<h4 class="text-warn">{{ userNotFoundMsg }}</h4>
		<form [style.max-width]="'400px'">
      <div fxLayout [style.align-items]="'center'">
        <md-input-container fxFlex>
          <input mdInput 
                 type="email" 
                 required="true"
                 [(ngModel)]="email" 
                 aria-label="Email"
                 placeholder="Email Address"
                 name="email"
                 #name="ngModel">
        </md-input-container>
        <md-spinner [style.height]="'32px'" *ngIf="isSearching"></md-spinner>
        <md-icon svgIcon="done" id="checkmark" *ngIf="didFindEmail && !isSearching"></md-icon>
        <md-icon svgIcon="clear" id="x-mark" *ngIf="didFindEmail === false && !isSearching"></md-icon>
      </div>
      <div fxLayoutGap="8px" fxLayout>
        <button md-raised-button class="mat-primary" (click)="onSubmit()" [disabled]="(didClickRequestButton || !didFindEmail)">SUBMIT</button>
        <p class="mat-warn-text" *ngIf="didFindEmail === false">An account with that email does not exist.</p>
      </div>
		</form>
	</div>
</div>

<div class="container" [@flyInOut]="completeState" *ngIf="!showForm">
  <p class="flow-text">Password reset link succesfully sent to {{ email }}.</p>
</div>
