<div class="container" fxLayout="column">
  <header fxHide.sm fxHide.xs>
    <h3 class='orange-text text-darken-2 header-title'>LEAN EDUCATORS ACADEMIC NETWORK</h3>
  </header>

  <div fxLayoutAlign="center" fxHide.gt-sm class="md-margin">
    <img src="assets/images/logos/LEAN-logo-lg.png" class="responsive-img" />
  </div>

  <div class="page-section" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px">

    <md-card fxFlex class="mat-primary darken-1">
      <h4 class="white-text">Community Forum</h4>
      <p class="flow-text white-text">Ask questions and receive feedback from experts in our<a routerLink="/forum" class="orange-text"> Q&amp;A Forum</a>.</p>
    </md-card>

    <md-card fxFlex>
      <h4>Stay Informed</h4>
      <p class="flow-text">Maximize customer value and minimize waste through Lean education. Join the <a href="https://teachinglean.org/about">Lean Education Academic Network</a>.</p>
      <md-card-actions [style.margin]="'0'">
        <a md-raised-button class="mat-accent" routerLink="/signup">CREATE A FREE ACCOUNT</a>
      </md-card-actions>
    </md-card>

    <md-card fxFlex class="mat-primary darken-1">
      <h4 class="white-text">Are you an educator?</h4>
      <p class="flow-text white-text">Use our online <a href="/teachingCurriculum" class="orange-text">teaching resources</a> to put together a presentation
        using current, up-to-date teaching material.</p>
    </md-card>

  </div>

  <md-divider></md-divider>

  <div fxLayout="column" class="page-section">
    <div>
      <h4 class="bold-text"><a href="https://pomsmeetings.org/conf-2017">ANNUAL POMS 2017 CONFERENCE</a></h4>

      <p>May 5th - 8th, 2017 | Seattle, Washington</p>
    </div>

    <div fxLayout="column" fxLayout.gt-md md-margin="bottom" class="page-section">
      <div fxFlex>
        <img src="assets/images/Space_Needle002.png" [style.max-width]="'100%'" />
      </div>

      <div md-margin="left" fxFlex>
        <h5 class="bold-text mt-0">OUR NEXT MEETING</h5>

        <p class="text-md">
          A spirited group of researchers, teachers, and practitioners are getting together to start up the <em>College of Operational Excellence (COE)</em> as a sub-group of the <em>Production and Operations Management Society (POMS)</em>. This meeting will also serve as a restart
          for <b><a href="https://teachinglean.org/about">Lean Education Academic Network (LEAN)</a> </b> as we envision
          the way forward for teaching and research in higher education.
        </p>

        <p class="flow-text"> Join us May 4th, 2017 from 1:00 pm - 7:30 pm at this Mini-Conference and Reception that serves as a prelude to the
          annual <a href="https://pomsmeetings.org/conf-2017/">POMS Conference</a>.</p>
      </div>

    </div>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" class="page-section">

    <div fxLayout="column" class="page-section-child">
      <p class="flow-text center-align orange-text text-darken-3"><strong>GET IN ON THE GROUND FLOOR</strong></p>
      <a md-raised-button class="mat-accent" href="https://pomsmeetings.org/conf-2017/">REGISTER FOR CONFERENCE</a>
      <p class="flow-text">If you are interested in getting in on the ground floor and providing input and direction, we would like to see you there. Just register at the POMS website.</p>
    </div>

    <div class="beige md-padding page-section-child">
      <p class="text-lg">The primary objective of the <strong>COE</strong> is to build a community focused on operational excellence to</p>
      <ul class="disc aside blue-grey-text text-darken-2">
        <li class="text-md bold-text">Foster creation and dissemination of scholarly knowledge.</li>
        <li class="text-md bold-text">Share teaching and pedagogical material.</li>
        <li class="text-md bold-text">Exchange information about undergraduate, graduate and other specialized educational programs.</li>
        <li class="text-md bold-text">Interact with leading practitioners to enrich research and teaching.</li>
      </ul>
    </div>

  </div>

  <md-divider></md-divider>

</div>
