
<div class="container --home-container" fxLayout="column">
  <!-- Header -->
  <div class="home-header">
    <h3 fxHide.sm fxHide.xs class="orange-text text-darken-2">LEAN EDUCATORS ACADEMIC NETWORK</h3>

    <div class="home-logo-container" fxLayoutAlign="center" fxHide.gt-sm>
      <img src="assets/images/logos/LEAN-logo-lg.png" class="responsive-img" />
    </div>
  </div><!-- END Header -->

  <!-- Home Page Cards -->
  <div class="page-section" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px">
    <md-card fxFlex class="mat-primary darken-1">
      <h4 class="white-text">Community Forum</h4>
      <p class="flow-text white-text">Ask questions and receive feedback from experts in our<a routerLink="/forum" class="orange-text"> Q&amp;A Forum</a>.</p>
    </md-card>

    <md-card fxFlex>
      <h4>Stay Informed</h4>
      <p class="flow-text">Maximize customer value and minimize waste through Lean education. Join the <a href="https://teachinglean.org/about">Lean Education Academic Network</a>.</p>
      <md-card-actions [style.margin]="'0'">
        <a md-raised-button class="mat-accent" routerLink="/signup">CREATE A FREE ACCOUNT</a>
      </md-card-actions>
    </md-card>

    <md-card fxFlex class="mat-primary darken-1">
      <h4 class="white-text">Are you an educator?</h4>
      <p class="flow-text white-text">Use our online <a href="/teachingCurriculum" class="orange-text">teaching resources</a> to put together a presentation
        using current, up-to-date teaching material.</p>
    </md-card><!-- END Home Page Cards -->
  </div>

  <md-divider></md-divider>

  <div fxLayout="column" class="page-section keynote-section">
    <h3 class="orange-text text-darken-2">Lean Educator Summit 2019</h3>

    <div>
      <a md-raised-button href="https://usu.box.com/s/7lnu56xqbrfdmv9mohugh98gamera0un" target="_self" download>
        <span>Download Flyer</span>
        <md-icon svgIcon="pdf_grey"></md-icon>
      </a>
    </div>

    <h4>Learning Lean / Lean Learning</h4>

    <p class="grey-text-darken-1 md-margin-bottom">
        We are delighted to invite you to the Lean Educator Summit 2019,
        28-30 July 2019 at Cal Poly State University, San Luis Obispo, California, USA.
    </p>

    <p class="grey-text-darken-1">
        The theme of the conference is Teaching Lean in the 21st Century.
    </p>

    <a href="https://calpoly.irisregistration.com/Register?code=lean-educator-summit-2019">
      <p style="height: 30px; color: #229DE3; font-weight: 700;">Register Here!</p>
    </a>

    <md-divider></md-divider>

    <div>
      <a md-raised-button href="https://usu.box.com/s/rm3n533wsr1qw5uc495sof4gyg8rarmr" target="_self" download>
        <span>Summit Information and Agenda</span>
        <md-icon svgIcon="pdf_grey"></md-icon>
      </a>
      <a md-raised-button href="https://usu.box.com/s/xylkif91wqqduamxnmc54vfn6rt25qzl" target="_self" download>
        <span>Sponsorship Package Information</span>
        <md-icon svgIcon="pdf_grey"></md-icon>
      </a>
      <a md-raised-button href="https://usu.box.com/s/435010c6nqk5quujwonjwnrcbksjdod5" target="_self" download>
        <span>Pre-Summit Mini Vacation</span>
        <md-icon svgIcon="pdf_grey"></md-icon>
      </a>
    </div>

    </div>
  </div>
</div>
