<div class="admin-panel container"> 
  <h5 md-margin="bottom">User Management</h5>
  <table class="user-list-container">
    <thead>
      <tr class="user-list-header-row">
        <th [style.text-align]="'center'">#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>User Type</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr class="user-list-row" 
          admin-user-list-item 
          *ngFor="let user of users; let i = index" 
          [user]="user" 
          [id]="i+1+((page-1)*limit)"
          (selectUser)="onSelectUser($event)"></tr>
    </tbody>
  </table>
  <div fxLayout="row" class="pagination-container">
    <p md-margin>Showing {{ ((page-1)*limit)+1 }}-{{ ((page-1)*limit)+limit }} of {{ stats.size }}</p>
    <span fxFlex></span>
    <div class="pagination-buttons">
      <button class="pagination-button" (click)="paginateBack()">&#8592; Previous</button>
      <button class="pagination-button">{{ btn1 }}</button>
      <button class="pagination-button">{{ btn2 }}</button>
      <button class="pagination-button">{{ btn3 }}</button>
      <button class="pagination-button">{{ btn4 }}</button>
      <button class="pagination-button">{{ btn5 }}</button>
      <button class="pagination-button" (click)="paginateForward()">Next &#8594;</button>
    </div>
  </div>
</div>
<!--<table class="user-admin-wrapper">
  <tr class="user-admin-header">
    <th>Name</th>
    <th>Email</th>
    <th>Last Login</th>
    <th>Role</th>
    <th>Status</th>
  </tr>
  <tr class="user-admin-item" *ngFor="let user of users">
    <td role="name">
      {{ user.name }}
    </td>

    <td role="email address">
      {{ user.email }}
    </td>

    <td role="last login">
      {{ user.lastLoginToString() }}
    </td>

    <td role="role">
      <md-select name='userRole'
                 (change)="updateUser(user)" 
                 [(ngModel)]="user.role" 
                 [floatPlaceholder]="never">
        <md-option *ngFor="let role of roles" [value]="role.value">{{ role.displayValue }}</md-option>
      </md-select>
    </td>

    <td role="account status">
      <button md-button
      class="mat-accent"
      (click)="onClickStatus(user)"
      [disabled]="user.isAdmin">
        {{ user.accountIsActive ? "Active" : "Disabled" }}
      </button>
    </td>

  </tr>
</table>-->
