.admin-panel-container {
	margin: 16px;
	display: flex;
	flex-direction: column;
	max-width: 1280px; 
}

@media only screen and (max-width: 480px) {
	.admin-panel-container {
		margin: 8px 4px 8px 4px;
	}
}

.admin-user-table {
	margin-top: 24px; 
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

admin-user-card {
	margin-top: 24px;
	max-width: 712px;
}

div.pagination-container {
	margin-top: 8px;
	margin-bottom: 8px;
}

div.pagination-buttons {
	display: inline-flex;
	align-items: stretch;
	width: 375px;
	height: 38px;
}

button.pagination-button {
	height: inherit;
	margin-right: 0;
	font-size: 14px;
	color: steelblue;
	background-color: transparent;
	border: 1px solid lightgrey;
	border-right: 0;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.active-page-btn {
	background-color: #E5EDFB !important;
}

div.pagination-buttons button:last-child {
	border-right: 1px solid lightgrey;
}

div.pagination-buttons button:not(:last-child),
div.pagination-buttons button:not(:first-child) {
	flex-grow: 1;
}

div.pagination-buttons button:last-child,
div.pagination-buttons button:first-child {
	flex-shrink: 1;
}

table.user-list-container {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 8px;
	border: 1px solid lightgrey;
}

tr.user-list-header-row th {
	padding: 8px;
	border-right: 1px solid lightgrey;
}

tr.user-list-header-row {
	border-bottom: 2px solid lightgrey;
}

tr.user-list-row td {
	border-radius: 0;
}

table.user-list-container tbody tr:nth-child(odd) {
	background-color: #f0f0f0;
}