<div class="admin-panel container"> 
  <h5 md-margin="bottom">User Management</h5>
  <div fxLayout="row" class="pagination-container">
    <p md-margin>Records per page</p>
    <md-select [(ngModel)]="this.limit" selected="this.limit">
      <md-option [value]="10">10</md-option>
      <md-option [value]="25">25</md-option>
      <md-option [value]="50">50</md-option>
    </md-select>
    <span fxFlex></span>
    <div class="pagination-buttons" *ngIf="maxPage > 1">
      <button class="pagination-button" (click)="page = page - 1">&#8592; Previous</button>
      <button class="pagination-button" (click)="page = btn1" [class.active-page-btn]="page === btn1">{{ btn1 }}</button>
      <button class="pagination-button" (click)="page = btn2" [class.active-page-btn]="page === btn2" *ngIf="maxPage > 2">{{ btn2 }}</button>
      <button class="pagination-button" (click)="page = btn3" [class.active-page-btn]="page === btn3" *ngIf="maxPage > 3">{{ btn3 }}</button>
      <button class="pagination-button" (click)="page = btn4" [class.active-page-btn]="page === btn4" *ngIf="maxPage > 4">{{ btn4 }}</button>
      <button class="pagination-button" (click)="page = btn5" [class.active-page-btn]="page === btn5" *ngIf="maxPage > 5">{{ btn5 }}</button>
      <button class="pagination-button" (click)="page = page + 1">Next &#8594;</button>
    </div>
  </div>
  <table class="user-list-container">
    <thead>
      <tr class="user-list-header-row">
        <th [style.text-align]="'center'">#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>User Type</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr class="user-list-row" 
          admin-user-list-item 
          *ngFor="let user of users; let i = index" 
          [user]="user" 
          [id]="i+1+((currPage-1)*limit)"
          (onSelectBlock)="onSelectBlock($event)"
          (onChange)="updateUser($event)"
          (onSelect)="onSelectUser($event)"></tr>
    </tbody>
  </table>
  <p md-margin *ngIf="maxPage > 1">Page {{ currPage }} of {{ maxPage }}</p>
  <p md-margin>Showing <span *ngIf="maxPage > 1">{{ 1+((currPage-1)*limit) }}-{{ ((currPage-1)*limit)+limit }} of </span>{{ stats.size }} users</p>
</div>
