<div class="admin-panel container"> 
  <h5 md-margin="bottom">User Management</h5>
  <admin-user-card [user]="selectedUser" (onClose)="selectedUser = null" (onBlockUser)="onBlockUserHandler($event)" *ngIf="selectedUser"></admin-user-card>

   <div class="">

    <md-table #table [dataSource]="dataSource" [trackBy]="reference" mdSort>

      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
        <md-cell *cdkCellDef="let user"> {{ user.name }} </md-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Email </md-header-cell>
        <md-cell *cdkCellDef="let user"> {{ user.email }} </md-cell>
      </ng-container>

      <!-- Username Column -->
      <ng-container cdkColumnDef="username">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Username </md-header-cell>
        <md-cell *cdkCellDef="let user"> {{ user.username }} </md-cell>
      </ng-container>

      <!-- Role Column -->
      <ng-container cdkColumnDef="role">
        <md-header-cell *cdkHeaderCellDef md-sort-header> User Type </md-header-cell>
        <md-cell *cdkCellDef="let user"> {{ roles[user.role] }} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <md-header-cell *cdkHeaderCellDef> Actions </md-header-cell>
        <md-cell *cdkCellDef="let user">
          <div fxLayout="row" admin-user-list-item [user]="user" (onBlock)="onBlockUserHandler($event)" (onChange)="updateUser($event)" (onSelect)="selectedUser = $event"></div>
        </md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let user; columns: displayedColumns;"></md-row>
    </md-table>

    <md-paginator #paginator
                  [length]="udp.data.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 25, 50]">
    </md-paginator>
  </div>
</div>
